= form_with model: @event, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', id:'event_name'
  .form-group
    = f.label :day
    = f.date_field :day, class: 'form-control', value: Time.now.strftime("%Y-%m-%d"), id:'event_day'
  .form-group
    = f.label :description
    = f.text_area :description, rows: 3, class: 'form-control', id: 'event_description'
  = f.submit nil , class: 'btn-primary'
