h2 対局一覧

.nav.justify-content-start
  p 件数：#{@events.count} 件
= link_to '対局の登録', new_event_path, class: 'btn btn-outline-success btn-block'
.mb-3
table.table.table-hover
  thead.thead-default
    tr
      th = Event.human_attribute_name(:name)
      th = Event.human_attribute_name(:day)
    tbody
      - @events.each do |event|
        tr
          td = link_to event.name, event_path(event)
          td = event.day
         
= link_to '対局の登録', new_event_path, class: 'btn btn-outline-success btn-block'
