= form_for([@event, @game]) do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.hidden_field :event_id, value: params[:event_id]
  .form-group
    = f.label :genten
    = f.text_field :genten, value: "25000", class: 'form-control'
  .form-group
    = f.label :kaeshiten
    = f.text_field :kaeshiten, value: "30000", class: 'form-control', id: 'focusedInput'
  .form-group
    = f.label :horse_id
    .dropdown
      = f.collection_select :horse_id, Horse.all.order(:point1, :point2) , :id, :name, class: 'dropdown-menu'

    = f.fields_for :game_detail, @game.game_detail.sort_by(&:id) do |builder|
      br

      .card
        .card-header.text-white.bg-info.mb-3
          | 個人成績入力
        .card-body
          .form-group
            = builder.label :user_id
            = builder.collection_select :user_id, @user.all , :id, :name, :prompt => true
          .form-group
            = builder.label :point
            = builder.text_field :point, class: 'form-control'
  = f.submit nil , class: 'btn btn-primary mr-3'
