h2 成績詳細
.nav.justify-content-end
  = link_to '対局情報に戻る' , event_path(params[:event_id]), class: 'nav-link'

.card
  .card-header.text-black.bg-Light.mb-3
    | ルール
  table.table.table-hover
    tbody
      tr
        th = Game.human_attribute_name(:genten)
        td = @game.genten
      tr
        th = Game.human_attribute_name(:kaeshiten)
        td = @game.kaeshiten
      tr
        th = "順位ウマ"
        td = @game.horse.name
br
.card
  .card-header.text-black.bg-Light.mb-3
    | 成績
  table.table.table-hover
    thead.thead-default
      tr
        th = GameDetail.human_attribute_name(:rank)
        th = User.human_attribute_name(:name)
        th = GameDetail.human_attribute_name(:point)
        th = GameDetail.human_attribute_name(:score)
      tbody
        - @game.game_detail.order(:rank).each do |f|
          tr
            td = "#{f.rank}位"
            td = f.user.name
            td = "#{f.point} 点"
            td = f.score
br
= link_to '編集', edit_event_game_path(params[:event_id]), class: 'btn btn-primary mr-3'
= link_to '削除', [:event, @game], method: :delete, data: { confirm: "この成績（ID:#{@game.id}）を削除します。よろしいですか？"}, class: 'btn btn-danger'
