h2 ウマ一覧

.nav.justify-content-start
  p 件数：#{@horses.count} 件
= link_to 'ウマ登録', new_admin_horse_path, class: 'btn btn-outline-success btn-block'
.mb-3
table.table.table-hover
  thead.thead-default
    tr
      th = Horse.human_attribute_name(:name)
      th = Horse.human_attribute_name(:point1)
      th = Horse.human_attribute_name(:point2)
      th
      th
    tbody
      - @horses.each do |horse|
        tr
          td = link_to horse.name ,edit_admin_horse_path(horse)
          td = horse.point1
          td = horse.point2

= link_to 'ウマ登録', new_admin_horse_path, class: 'btn btn-outline-success btn-block'
