<div class='page-title'>
  新規登録
  <%= image_tag('common/title-horses-icon.png' ) %>
</div>

<div class='contents-box'>
  <div class='nav justify-content-end'>
    <%= link_to 'ウマ一覧' , admin_horses_path, class: 'nav-link' %>
  </div>

  <%= render partial: 'form', locals: { horse: @horse } %>
</div>