<div class='notice-box'>
  <div class='alert-message'>
    このユーザーは一度も対局データの登録がありません。</br>
    対局情報(戦績)を登録してみましょう!!
  </div>
  <div class='btn-field'>
    <%= link_to '対局の登録', new_event_path, class: 'insert-btn' %>
  <div>
</div>

<%= stylesheet_link_tag('mypage/index') %>
