<div class='page-title'>
  マイページ
  <%= image_tag('common/title-home-icon.png', :size => '29x24' ) %>
</div>
<div class='contents-box'>
  <% if @gamedetails.count.zero? %>
    <%= render partial: 'no_record' %>
  <% else %>
    <%= render partial: 'mypage' %>
  <% end %>
</div>
