<div class='page-title'>
  コミュニティの詳細
  <%= image_tag('common/title-community-icon.png' ) %>
</div>

<div class='contents-box'>
  <div class='nav justify-content-end'>
    <%= link_to '一覧' , admin_communities_path, class: 'nav-link' %>
  </div>

  <%= render partial: 'form', locals: { community: @community } %>
</div>
