@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main-container {
  padding: 15px 10px;
}

.flexContainer {
  display: flex;
}

.main-container {
  display: block;
  width: 65%;
  margin-right: 20px;
}

.sidebar {
  width: 15%;
  text-align: center;
}

.p-menuCircle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #E4A89A;
  font-size: 12px;
  color: white;
  text-align:center;
  line-height: 100px;
  margin: 5px;

  &__big {
    @extend .p-menuCircle;
    background-color: #E8C281;
    width: 130px;
    height: 130px;
    line-height: 130px;
  }

  &__small {
    @extend .p-menuCircle;
    background-color: #DCDCED;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  &--topColor {
    @extend .p-menuCircle;
    background-color: #AD9C8C;
  }

  &--bottomColor {
    @extend .p-menuCircle;
    background-color: #CCC5C5;
  }

}

.not-decoration:hover {
  text-decoration: none;
  color: white;
}

.top-header {
  background-color: #e8383d;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'メイリオ', 'Meiryo', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// h2 {
//   font-size: 2.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
// }

h2 {
  padding: 0.4em 0.5em;
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #e8383d;
  border-bottom: solid 3px #d7d7d7;/*下線*/
  font-size: 1.3em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
}

body {
  /* 余白 */
  margin-bottom: 0;
}

select {
  padding: 7px;
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* background */
.top-background {
  min-height: 100vh;
  background-image: image-url("common/bg-top.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


/* ユーザー */

/* 登録・更新画面のデフォルト表示をシンプルに */
.login-only {
  display: none ;
}

/* ゲーム系 */
.gameRuleContainer {
  margin: 0 10px;
}

.flexChildren {
  flex-basis: 30%;
  margin-right: 10px;
}

/* カレンダー */

// /* スピンボタン（上下ボタン）を非表示 */
// input[type=date]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
// }

// /* カレンダーのインジケータ（▼）を非表示 */
// input[type=date]::-webkit-calendar-picker-indicator {
//   color: transparent;
//   position: relative;
// }

/* fontAwesomeのカレンダーアイコンをインジケータにする */
// input[type=date]::-webkit-calendar-picker-indicator:before {
//   /*content: "\f073";*/ /* fa-calendar */
//   content: image-url('calender_icon.png'); /* fa-calendar-o */
//   position: absolute;
//   left: -5px; /* ここら辺はいい感じの塩梅で */
//   top: -5px;  /* ここも */
// }

// /* もう一つの答え */
// input[type=date]::-webkit-calendar-picker-indicator {
//   color: transparent;
//   background: image-url('calender_icon.svg') no-repeat;
//   background-size: auto;
// }
