@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main-container {
  margin: 30px 0;
}

.flexContainer {
  display: flex;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// h2 {
//   font-size: 2.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
// }

h2 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  font-size: 1.3em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
}

body {
  /* 余白 */
  margin-bottom: 60px;
}

select {
  padding: 7px;
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* ユーザー */

/* 登録・更新画面のデフォルト表示をシンプルに */
.login-only {
  display: none ;
}

/* ゲーム系 */
.gameRuleContainer {
  margin: 0 10px;
}

.flexChildren {
  flex-basis: 30%;
  margin-right: 10px;
}

/* カレンダー */

// /* スピンボタン（上下ボタン）を非表示 */
// input[type=date]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
// }

// /* カレンダーのインジケータ（▼）を非表示 */
// input[type=date]::-webkit-calendar-picker-indicator {
//   color: transparent;
//   position: relative;
// }

/* fontAwesomeのカレンダーアイコンをインジケータにする */
// input[type=date]::-webkit-calendar-picker-indicator:before {
//   /*content: "\f073";*/ /* fa-calendar */
//   content: image-url('calender_icon.png'); /* fa-calendar-o */
//   position: absolute;
//   left: -5px; /* ここら辺はいい感じの塩梅で */
//   top: -5px;  /* ここも */
// }

// /* もう一つの答え */
// input[type=date]::-webkit-calendar-picker-indicator {
//   color: transparent;
//   background: image-url('calender_icon.svg') no-repeat;
//   background-size: auto;
// }
