@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.main-container {
  padding: 15px 30px;
}

.flexContainer {
  display: flex;
}

.main-container {
  display: block;
  width: 100%;

  @media screen and (min-width:480px) {
    width: 100%;
  }

}

.sidebar-container {
  @media screen and (max-width: 768px) {
    display: none;
  }
  width: 25%;
  max-width: 220px;
  text-align: center;
  background-color: #f43e43;
}

.sidebar {
  padding-top: 20px;
  position: sticky;
  top: 0;
}

.pic_frame {
  text-align: center;
  margin-top: 10px;

  p {
    font-size:12px;
    color: #fff;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  :hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

div.line {
  border-bottom: 1px solid #fff;
  margin:10px;
}

.p-menuCircle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #E4A89A;
  font-size: 12px;
  color: white;
  text-align:center;
  line-height: 100px;
  margin: 5px;

  &__big {
    @extend .p-menuCircle;
    background-color: #E8C281;
    width: 130px;
    height: 130px;
    line-height: 130px;
  }

  &__small {
    @extend .p-menuCircle;
    background-color: #DCDCED;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  &--topColor {
    @extend .p-menuCircle;
    background-color: #AD9C8C;
  }

  &--bottomColor {
    @extend .p-menuCircle;
    background-color: #CCC5C5;
  }

}

.not-decoration:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.top-header {
  background-color: #f43e43;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'メイリオ', 'Meiryo', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

// h2 {
//   font-size: 2.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
// }

h2 {
  padding: 0.4em 0.5em;
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #e8383d;
  border-bottom: solid 3px #d7d7d7;/*下線*/
  font-size: 1.3em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
}

body {
  /* 余白 */
  margin-bottom: 0;
}

select {
  padding: 7px;
  width: 100%;
  border: 1px solid #ced4da;
  background-color: white;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.header-navigation {
  padding-top:10px;

  li {
    padding: 0 2px;
  }

  :hover img {
    opacity: 0.6;
  }
}

.logout-btn {
  width: 120px;
  padding: 2px 12px;
  border-radius: 19px;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #ec407a;
  color: #ec407a;
  font-weight: bold;
  text-decoration: none;
}

.logout-btn:hover {
  background-color: #ec407a;
  border: 1px solid #fff;
  color:#fff;
  cursor: pointer;
  text-decoration: none;
}

/* background */
.top-background {
  min-height: 100vh;
  background-image: image-url("common/bg-top.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* 共通 */
.vertical-margin-medium {
  margin: 15px 0; 
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: -20px;
  color: #5f5f5f;
  // color: #f43e43;
  // border-style: none;
  // vertical-align: middle;
  // height: auto;
  // background-color: transparent;
  // position: relative;
  // z-index: 1;

  img {
    margin-top: -22px;
    height: 30px;
    width: 48px;
  }
}

.sub-heading {
	padding: 0.1em 0.3em;
  border-left: 8px solid #00BCD4;
  font-weight: bold;
}

.contents-box {
  background-color: #fff;
  color: #856404;
  padding: 30px;
}

.btn-field {
  text-align: center;
  padding: 10px 0 10px;
}

.insert-btn {
  position: relative;
  border-radius: 19px;
  background-color: #55b1df;
  border: 1px solid #55b1df;
  color: #fff;
  font-weight: bold;
  padding: 4px 30px;
  text-align: center;
}

.insert-btn:hover {
  background-color: #fff;
  border: 1px solid #55b1df;
  color:#55b1df;
  cursor: pointer;
  text-decoration: none;
}

.delete-btn {
  position: relative;
  border-radius: 19px;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: #fff;
  font-weight: bold;
  padding: 4px 30px;
  text-align: center;
}

.delete-btn:hover {
  background-color: #fff;
  border: 1px solid #dc3545;
  color:#dc3545;
  cursor: pointer;
  text-decoration: none;
}

.insert-btn:focus,
.delete-btn:focus {
  outline: none;
}

/* ユーザー */

/* 登録・更新画面のデフォルト表示をシンプルに */
.login-only {
  display: none ;
}

/* ゲーム系 */
.gameRuleContainer {
  margin: 0 10px;
}

.flexChildren {
  flex-basis: 30%;
  margin-right: 10px;
}

/* カレンダー */

// /* スピンボタン（上下ボタン）を非表示 */
// input[type=date]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
// }

// /* カレンダーのインジケータ（▼）を非表示 */
// input[type=date]::-webkit-calendar-picker-indicator {
//   color: transparent;
//   position: relative;
// }

/* fontAwesomeのカレンダーアイコンをインジケータにする */
// input[type=date]::-webkit-calendar-picker-indicator:before {
//   /*content: "\f073";*/ /* fa-calendar */
//   content: image-url('calender_icon.png'); /* fa-calendar-o */
//   position: absolute;
//   left: -5px; /* ここら辺はいい感じの塩梅で */
//   top: -5px;  /* ここも */
// }

// /* もう一つの答え */
// input[type=date]::-webkit-calendar-picker-indicator {
//   color: transparent;
//   background: image-url('calender_icon.svg') no-repeat;
//   background-size: auto;
// }

/* テーブル */
.main-table {
  margin: 0 auto 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: separate;
  
  th {
    text-align: center;
    color: #fff;;
    background: #348191;
    padding: 6px;
    // border: 3px solid #fff;
  }

  td {
    padding: 2px 6px;
    vertical-align: middle;
    border: 1px dotted #ddd;
    border-collapse: separate;

    .text-center {
      text-align: center;
    }
  }
}

.main-table input[type=checkbox] {
  margin-top: 5px;
  margin-bottom: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  background: #c8d6de;
  appearance: none;
}

.main-table input[type=checkbox]:hover {
  background: #8ac4e6;
}

.main-table input[type=checkbox]:checked {
  background: #55b1df;
}

.main-table input[type=checkbox]:checked::before {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: '✔';
  text-align: center;
}

.main-table input[type=checkbox]:checked::after {
  position: relative;
  display: block;
  content: '';
  background: #55b1df;
}

.header-sticky th {
  position: sticky;
  top: 0;  
}

.profile-icon {
  text-align:center;
  margin:0 15px;
  margin-top: 10px;

  img {
    padding:3px;
    border: solid 1px #ddd;
    border-radius: 50px;
  }
}

.basic-information {
  width:100%;
  margin:0 5px;
}

.header-line{
  border-bottom: solid 4px #4dd0e1;
  position: relative;
  padding: .3em 0;
  text-align: center;
}
.header-line:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 4px #006064;
  bottom: -4px;
  width: 15%;
}
