= form_with model: [:admin, @user], local: true do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', id:'user_name', placeholder:'名前やニックネームを入力してください'
  .form-group
    = f.label :icon
    = f.file_field :icon, class: 'form-control', id:'user_icon'
  .form-check
    = f.label :login_flg, class: 'form-check-label' do
      = f.check_box :login_flg, class: 'form-check-input', onclick: "displayInputForm()"
      | ログイン権限を付与しますか？
  div#login-only.login-only
    .form-group
      = f.label :mail
      = f.text_field :mail, class: 'form-control', id:'user_mail', placeholder:'sample01@example.com'
    .form-check
      = f.label :admin, class: 'form-check-label' do
        = f.check_box :admin, class: 'form-check-input'
        | 管理者権限
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control', placeholder:'パスワードを入力してください'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control', placeholder:'確認用にもう一度パスワードを入力してください'
    .form-group
      = f.label :description
      = f.text_area :description, rows: 3, class: 'form-control', id: 'user_description'
  = f.submit nil , class: 'btn btn-primary'
