h2 ユーザー一覧

.nav.justify-content-start
  p 件数：#{@users.count} 件
= link_to 'ユーザー登録', new_admin_user_path, class: 'btn btn-outline-success btn-block'
.mb-3
table.table.table-hover
  thead.thead-default
    tr
      th = User.human_attribute_name(:name)
      th = User.human_attribute_name(:mail)
      th = User.human_attribute_name(:admin)
      th
    tbody
      - @users.each do |user|
        tr
          td = link_to user.name, [:admin, user]
          td = user.mail
          td = user.admin? ? 'あり' : 'なし'
          td
            
= link_to 'ユーザー登録', new_admin_user_path, class: 'btn btn-outline-success btn-block'
