<div class='page-title'>
  メンバーの新規登録
  <%= image_tag('common/title-home-icon.png', :size => '29x24' ) %>
</div>

<div class='contents-box'>
  <div class='nav justify-content-end'>
    <%= link_to 'ユーザ一覧' , admin_users_path, class: 'nav-link' %>
  </div>

  <%= render partial: 'form', locals: { user: @user } %>
</div>

<%= stylesheet_link_tag('admin/users') %>